Repository Heegu-sama/Homm3BG, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AFulgens, @Heegu-sama, @qwrtln, @csagataj2, @DarthGandalf, @ohgodnotagain, @evilmint, @luischos, @Gastonia02, @SerhiiSUr, @markdermark, @tomaas-zeman, @davidpodless

Update translations/combat.tex/cs.po
  translations/combat.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update translations/ai_rules.tex/cs.po
  translations/ai_rules.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update translations/combat.tex/cs.po
  translations/combat.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update translations/resources.tex/de.po
  translations/resources.tex/de.po
Owners: @csagataj2, @Heegu-sama, @markdermark, @DarthGandalf

Update translations/resources.tex/de.po
  translations/resources.tex/de.po
Owners: @csagataj2, @Heegu-sama, @markdermark, @DarthGandalf

[FR] unfuzzy combat section (#666)
  translations/combat.tex/fr.po
Owners: @Gastonia02, @DarthGandalf, @Heegu-sama

Make readme FOSS-project-like
  .github/workflows/po4a-check.yaml
  .github/workflows/po4a-comment-check.yaml
  .github/workflows/po4a-comment-commit.yaml
  README.md
  assets/github/title-page.png
  tools/build.sh
Owners: @qwrtln, @Heegu-sama, @csagataj2, @DarthGandalf

[DE] Translate Resources
  translations/resources.tex/de.po
Owners: @csagataj2, @Heegu-sama, @markdermark, @DarthGandalf

.github/CODEOWNERS:

# Main files
.aspell.homm3.pws @AFulgens @Heegu-sama
.gitignore @qwrtln @Heegu-sama
.pre-commit-config.yaml @qwrtln @Heegu-sama
/.github/ @qwrtln @Heegu-sama
/assets/ @csagataj2 @qwrtln @Heegu-sama
/sections/ @Heegu-sama
/tools/ @qwrtln @DarthGandalf @Heegu-sama
/translations/ @qwrtln @Heegu-sama
README.md @qwrtln @Heegu-sama
index_style.ist @qwrtln @DarthGandalf @Heegu-sama
main_*.tex @Heegu-sama @qwrtln
main_en.tex @Heegu-sama
metadata.tex @Heegu-sama
po4a.cfg @ohgodnotagain @qwrtln @DarthGandalf @Heegu-sama

### Granular settings for translations
#
# Polish
**/pl.po @qwrtln @evilmint @Heegu-sama
/translations/assets/pl/ @qwrtln @evilmint @Heegu-sama
main_pl.tex @qwrtln @evilmint @Heegu-sama
#
# Spanish
**/es.po @luischos @DarthGandalf @Heegu-sama
/translations/assets/es/ @luischos @DarthGandalf @Heegu-sama
main_es.tex @luischos @DarthGandalf @Heegu-sama
#
# French
**/fr.po @Gastonia02 @DarthGandalf @Heegu-sama
/translations/assets/fr/ @Gastonia02 @DarthGandalf @Heegu-sama
main_fr.tex @Gastonia02 @DarthGandalf @Heegu-sama
#
# Russian
**/ru.po @ohgodnotagain @Heegu-sama @DarthGandalf
/translations/assets/ru/ @ohgodnotagain @Heegu-sama @DarthGandalf
main_ru.tex @ohgodnotagain @Heegu-sama @DarthGandalf
#
# Ukrainian
**/ua.po @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama
/translations/assets/ua/ @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama
main_ua.tex  @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama
#
# German
**/de.po @csagataj2 @Heegu-sama @markdermark @DarthGandalf
/translations/assets/de/ @csagataj2 @Heegu-sama @markdermark @DarthGandalf
main_de.tex  @csagataj2 @Heegu-sama @markdermark @DarthGandalf
#
# Czech
**/cs.po @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/cs/ @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
main_cs.tex  @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
#
# Hebrew
**/he.po @davidpodless @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/he/ @davidpodless @Heegu-sama @qwrtln @DarthGandalf
main_he.tex @davidpodless @Heegu-sama @qwrtln @DarthGandalf
