Repository Heegu-sama/Homm3BG, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AFulgens, @Heegu-sama, @qwrtln, @csagataj2, @DarthGandalf, @ohgodnotagain, @candiun, @luischos, @Gastonia02, @SerhiiSUr, @DerSchlupf, @tomaas-zeman, @davidpodless

Remove leftovers + settlement mockup
  assets/map-locations/castle_settlement.png
  assets/map-locations/conflux_settlement.png
  assets/map-locations/core_settlements.jpg
  assets/map-locations/cove_settlement.png
  assets/map-locations/dungeon_settlement.png
  assets/map-locations/fortress_settlement.png
  assets/map-locations/inferno_settlement.png
  assets/map-locations/necropolis_settlement.png
  assets/map-locations/rampart_settlement.png
  assets/map-locations/stronghold_settlement.png
  assets/map-locations/tower_settlement.png
  assets/map-locations/town-conflux.jpg
  assets/map-locations/town-cove.jpg
  assets/map-locations/town-fortress.jpg
  assets/map-locations/town-inferno.jpg
  assets/map-locations/town-rampart.jpg
  assets/map-locations/town-stronghold.jpg
  assets/map-locations/town-tower.jpg
  sections/all_map_locations.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

Revert components change
  sections/components.tex
Owners: @Heegu-sama

Fill the gap left from moving random town to towns
  assets/art/cyclop.png
  sections/all_map_locations.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

update settlement image
  assets/map-locations/settlements-2.jpg
  assets/map-locations/settlements-expansions.png
  sections/all_map_locations.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

remove unused file with other settlements
  assets/map-locations/settlements-1.jpg
Owners: @csagataj2, @qwrtln, @Heegu-sama

Fixes and adjustments
  assets/art/cyclops.png
  assets/art/hellstorm_helmet.png
  assets/art/tome_of_earth_magic.png
  assets/art/tome_of_fire_magic.png
  assets/images/setup.png
  sections/all_map_locations.tex
  sections/deckbuilding.tex
  sections/game_modes.tex
  sections/introduction.tex
  sections/round_structure.tex
  sections/setup.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

make it nested again
  sections/all_map_locations.tex
Owners: @Heegu-sama

update town image
  assets/map-locations/settlements-expansions.png
Owners: @csagataj2, @qwrtln, @Heegu-sama

Adjust legend in intro
  assets/art/orb_of_tempestuous_fire.png
  assets/map-locations/sawmill.jpg
  sections/all_map_locations.tex
  sections/introduction.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

Better align town and settlement images
  sections/all_map_locations.tex
Owners: @Heegu-sama

Update main_pl.tex
  main_pl.tex
Owners: @qwrtln, @candiun, @Heegu-sama

Simplify latex3
  metadata.tex
Owners: @Heegu-sama, @qwrtln, @DarthGandalf

Translate exp names to Ru
  main_ru.tex
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf, @qwrtln

Expand expansion content
  sections/expansion_content.tex
Owners: @Heegu-sama

Update sections/expansion_content.tex
  sections/expansion_content.tex
Owners: @Heegu-sama

Make stuff build again
  main_cs.tex
  main_de.tex
  main_es.tex
  main_fr.tex
  main_he.tex
  main_ua.tex
  po4a.cfg
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf, @csagataj2, @DerSchlupf, @luischos, @Gastonia02, @davidpodless, @SerhiiSUr, @ohgodnotagain

Add expansion word to fallback case for all translations
  main_cs.tex
  main_de.tex
  main_es.tex
  main_fr.tex
  main_he.tex
  main_ua.tex
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf, @csagataj2, @DerSchlupf, @luischos, @Gastonia02, @davidpodless, @SerhiiSUr

"Translate" name of SG2 to English
  main_en.tex
Owners: @Heegu-sama

Update po4a-action everywhere
  .github/workflows/build-release.yaml
  .github/workflows/pdf-build.yaml
  .github/workflows/po4a-check.yaml
  .github/workflows/po4a-comment-check.yaml
  .github/workflows/po4a-comment-commit.yaml
Owners: @qwrtln, @Heegu-sama

Cache po4a
  .github/workflows/pdf-build.yaml
Owners: @qwrtln, @Heegu-sama

Fix matrix
  .github/workflows/pdf-build.yaml
Owners: @qwrtln, @Heegu-sama

Fix de + more matrix fixes
  .github/workflows/pdf-build.yaml
  translations/deckbuilding.tex/de.po
  translations/game_modes.tex/de.po
Owners: @qwrtln, @Heegu-sama, @csagataj2, @DerSchlupf, @DarthGandalf

Fix ru and es
  translations/all_map_locations.tex/es.po
  translations/scenario_end.tex/ru.po
Owners: @luischos, @DarthGandalf, @Heegu-sama, @qwrtln, @ohgodnotagain

po4a
  translations/deckbuilding.tex/de.po
Owners: @csagataj2, @Heegu-sama, @DerSchlupf, @DarthGandalf, @qwrtln

Hack printable to fit
  translations/index.tex/ru.po
  translations/setup.tex/es.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf, @qwrtln, @luischos

de expansion titles added
  main_de.tex
Owners: @csagataj2, @Heegu-sama, @DerSchlupf, @DarthGandalf, @qwrtln

repair german expansion titles
  main_de.tex
Owners: @csagataj2, @Heegu-sama, @DerSchlupf, @DarthGandalf, @qwrtln

Update some art and monoliths
  assets/art/thunder_helmet.png
  assets/gimp-files/monoliths.xcf
  assets/map-locations/one-way_monolith_entrance.jpg
  assets/map-locations/one-way_monolith_exit.jpg
  sections/all_map_locations.tex
  sections/deckbuilding.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

po4a
  translations/all_map_locations.tex/all_map_locations.tex.pot
  translations/all_map_locations.tex/cs.po
  translations/all_map_locations.tex/de.po
  translations/all_map_locations.tex/es.po
  translations/all_map_locations.tex/fr.po
  translations/all_map_locations.tex/he.po
  translations/all_map_locations.tex/pl.po
  translations/all_map_locations.tex/ru.po
  translations/all_map_locations.tex/ua.po
  translations/deckbuilding.tex/cs.po
  translations/deckbuilding.tex/de.po
  translations/deckbuilding.tex/deckbuilding.tex.pot
  translations/deckbuilding.tex/es.po
  translations/deckbuilding.tex/fr.po
  translations/deckbuilding.tex/he.po
  translations/deckbuilding.tex/pl.po
  translations/deckbuilding.tex/ru.po
  translations/deckbuilding.tex/ua.po
Owners: @qwrtln, @Heegu-sama, @tomaas-zeman, @DarthGandalf, @csagataj2, @DerSchlupf, @luischos, @Gastonia02, @davidpodless, @candiun, @ohgodnotagain, @SerhiiSUr

Fix de
  translations/trading.tex/de.po
Owners: @csagataj2, @Heegu-sama, @DerSchlupf, @DarthGandalf, @qwrtln

Fix page count
  translations/deckbuilding.tex/de.po
  translations/deckbuilding.tex/ua.po
Owners: @csagataj2, @Heegu-sama, @DerSchlupf, @DarthGandalf, @qwrtln, @SerhiiSUr

Fix UA
  translations/deckbuilding.tex/ua.po
Owners: @SerhiiSUr, @csagataj2, @DarthGandalf, @Heegu-sama, @qwrtln

Update monoliths picture with some art (#824)
  assets/art/thunder_helmet.png
  assets/gimp-files/monoliths.xcf
  assets/map-locations/one-way_monolith_entrance.jpg
  assets/map-locations/one-way_monolith_exit.jpg
  sections/all_map_locations.tex
  sections/deckbuilding.tex
  translations/all_map_locations.tex/all_map_locations.tex.pot
  translations/all_map_locations.tex/cs.po
  translations/all_map_locations.tex/de.po
  translations/all_map_locations.tex/es.po
  translations/all_map_locations.tex/fr.po
  translations/all_map_locations.tex/he.po
  translations/all_map_locations.tex/pl.po
  translations/all_map_locations.tex/ru.po
  translations/all_map_locations.tex/ua.po
  translations/deckbuilding.tex/cs.po
  translations/deckbuilding.tex/de.po
  translations/deckbuilding.tex/deckbuilding.tex.pot
  translations/deckbuilding.tex/es.po
  translations/deckbuilding.tex/fr.po
  translations/deckbuilding.tex/he.po
  translations/deckbuilding.tex/pl.po
  translations/deckbuilding.tex/ru.po
  translations/deckbuilding.tex/ua.po
  translations/trading.tex/de.po
Owners: @csagataj2, @qwrtln, @Heegu-sama, @tomaas-zeman, @DarthGandalf, @DerSchlupf, @luischos, @Gastonia02, @davidpodless, @candiun, @ohgodnotagain, @SerhiiSUr

Add all new components
  assets/cards/creature-bank-back.png
  assets/cards/creature-bank.png
  assets/cards/empowered-ability.png
  assets/cards/pandora-back.png
  assets/cards/pandora.png
  assets/cards/spell-scroll.png
  assets/cards/town-card-back.png
  assets/cards/town-card.png
  assets/images/attack-token.png
  assets/images/clone-token.png
  assets/images/corrosion-token.png
  assets/images/crown-token.png
  assets/images/firewall-vi-token.png
  assets/images/force-field-token.png
  assets/images/land-mine-token.png
  assets/images/map-tile-sea.png
  assets/images/map-tile-sub.png
  assets/images/quicksand-token.png
  assets/images/stack-token.png
  assets/images/subter-gate.png
  assets/images/summon-token.png
  assets/images/time-token.png
  assets/images/weakness-token.png
  main_en.tex
  metadata.tex
  sections/components.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama, @DarthGandalf

[DE] Update of German Translations
  translations/assets/de/astrolog.png
  translations/game_modes.tex/de.po
  translations/introduction.tex/de.po
  translations/round_structure.tex/de.po
  translations/setup.tex/de.po
  translations/units.tex/de.po
Owners: @csagataj2, @Heegu-sama, @DerSchlupf, @DarthGandalf, @qwrtln

[Automatic] Add po4a updates
  translations/introduction.tex/de.po
Owners: @csagataj2, @Heegu-sama, @DerSchlupf, @DarthGandalf, @qwrtln

Update translations/round_structure.tex/de.po
  translations/round_structure.tex/de.po
Owners: @csagataj2, @Heegu-sama, @DerSchlupf, @DarthGandalf, @qwrtln

fix issues
  translations/introduction.tex/de.po
  translations/round_structure.tex/de.po
  translations/setup.tex/de.po
Owners: @csagataj2, @Heegu-sama, @DerSchlupf, @DarthGandalf, @qwrtln

new astrolog image
  translations/assets/de/astrolog.png
Owners: @csagataj2, @Heegu-sama, @DerSchlupf, @DarthGandalf, @qwrtln

deckbuilding chapter added
  translations/deckbuilding.tex/de.po
Owners: @csagataj2, @Heegu-sama, @DerSchlupf, @DarthGandalf, @qwrtln

.github/CODEOWNERS:

# Main files
.aspell.homm3.pws @AFulgens @Heegu-sama
.gitignore @qwrtln @Heegu-sama
.pre-commit-config.yaml @qwrtln @Heegu-sama
/.github/ @qwrtln @Heegu-sama
/assets/ @csagataj2 @qwrtln @Heegu-sama
/sections/ @Heegu-sama
/tools/ @qwrtln @DarthGandalf @Heegu-sama
/translations/ @qwrtln @Heegu-sama
/translations/promp.txt/ @qwrtln @DarthGandalf @Heegu-sama
README.md @qwrtln @Heegu-sama
index_style.ist @qwrtln @DarthGandalf @Heegu-sama
main_*.tex @Heegu-sama @qwrtln
main_en.tex @Heegu-sama
metadata.tex @Heegu-sama @qwrtln @DarthGandalf
structure.tex @Heegu-sama
po4a.cfg @ohgodnotagain @qwrtln @DarthGandalf @Heegu-sama

### Granular settings for translations
#
# Polish
**/pl.po @qwrtln @candiun @Heegu-sama
/translations/assets/pl/ @qwrtln @candiun @Heegu-sama
main_pl.tex @qwrtln @candiun @Heegu-sama
#
# Spanish
**/es.po @luischos @DarthGandalf @Heegu-sama @qwrtln
/translations/assets/es/ @luischos @DarthGandalf @Heegu-sama @qwrtln
main_es.tex @luischos @DarthGandalf @Heegu-sama @qwrtln
#
# French
**/fr.po @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln
/translations/assets/fr/ @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln
main_fr.tex @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln
#
# Russian
**/ru.po @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln
/translations/assets/ru/ @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln
main_ru.tex @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln
#
# Ukrainian
**/ua.po @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama @qwrtln
/translations/assets/ua/ @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama @qwrtln
main_ua.tex  @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama @qwrtln
#
# German
**/de.po @csagataj2 @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
/translations/assets/de/ @csagataj2 @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
main_de.tex  @csagataj2 @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
#
# Czech
**/cs.po @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/cs/ @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
main_cs.tex  @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
#
# Hebrew
**/he.po @davidpodless @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/he/ @davidpodless @Heegu-sama @qwrtln @DarthGandalf
main_he.tex @davidpodless @Heegu-sama @qwrtln @DarthGandalf
