Repository Heegu-sama/Homm3BG, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AFulgens, @qwrtln, @csagataj2, @Heegu-sama, @ohgodnotagain, @evilmint, @luischos

.github/CODEOWNERS:

# Main files
.aspell.homm3.pws @AFulgens
.gitignore @qwrtln
.pre-commit-config.yaml @qwrtln
/.github/ @qwrtln
/assets/ @csagataj2 @qwrtln
/components_lists/ @qwrtln
/sections/ @Heegu-sama
/translations/ @qwrtln
README.md @qwrtln
components_list.tex @qwrtln
index_style.ist @qwrtln
main_en.tex @Heegu-sama
make_printable.sh @qwrtln
metadata.tex @Heegu-sama
po4a.cfg @ohgodnotagain @qwrtln

### Granular settings for translations
# Polish
**/pl.po @qwrtln @evilmint
/translations/assets/pl/ @qwrtln @evilmint
main_pl.tex @qwrtln @evilmint
#
# Spanish
**/es.po @luischos @qwrtln
/translations/assets/es/ @luischos @qwrtln
main.es.tex @luischos @qwrtln
#
# French
# ...

Fix version
  main_es.tex
Owners: none

Add svg
  README.md
  translations/introduction.tex/es.po
Owners: @qwrtln, @luischos

[ES] Main, Introduction, Credits (#182)
  .github/workflows/build-and-publish-rule-book.yaml
  README.md
  main_es.tex
  translations/assets/es/cover_subtitle.png
  translations/credits.tex/es.po
  translations/introduction.tex/es.po
  translations/setup.tex/es.po
  translations/title_page.tex/es.po
Owners: @qwrtln, @luischos

Created qr-codes-es-tex
  .github/qr-codes-es.tex
Owners: @qwrtln

Update Spanish translations
  translations/ai_heroes.tex/es.po
  translations/credits.tex/es.po
  translations/introduction.tex/es.po
Owners: @luischos, @qwrtln

Add missing MPs to setup page
  assets/images/setup.png
  sections/setup.tex
  translations/setup.tex/es.po
  translations/setup.tex/pl.po
  translations/setup.tex/setup.tex.pot
Owners: @csagataj2, @qwrtln, @Heegu-sama, @luischos, @evilmint

Update Spanish translations (#190)
  translations/ai_heroes.tex/es.po
  translations/credits.tex/es.po
  translations/introduction.tex/es.po
Owners: @luischos, @qwrtln
