Repository Heegu-sama/Homm3BG, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AFulgens, @Heegu-sama, @qwrtln, @csagataj2, @DarthGandalf, @ohgodnotagain, @candiun, @luischos, @Gastonia02, @SerhiiSUr, @DerSchlupf, @tomaas-zeman, @davidpodless

typeset minus 1
  sections/all_map_locations.tex
Owners: @Heegu-sama

Simplify the expansion code by creating tcolorbox directly in the scope of LaTeX3
  metadata.tex
Owners: @Heegu-sama, @qwrtln, @DarthGandalf

Use SHA to determine cache validity in compare_pages.sh
  tools/compare_pages.sh
Owners: @qwrtln, @DarthGandalf, @Heegu-sama

First time check, then remote main check
  tools/compare_pages.sh
Owners: @qwrtln, @DarthGandalf, @Heegu-sama

Parse remote
  tools/compare_pages.sh
Owners: @qwrtln, @DarthGandalf, @Heegu-sama

Less output
  tools/compare_pages.sh
Owners: @qwrtln, @DarthGandalf, @Heegu-sama

Use GitHub's API instead of local git commands
  tools/compare_pages.sh
Owners: @qwrtln, @DarthGandalf, @Heegu-sama

Use SHA to determine cache validity in compare_pages.sh (#821)
  tools/compare_pages.sh
Owners: @qwrtln, @DarthGandalf, @Heegu-sama

make HP line red
  assets/glyphs/health_points-note.svg
  assets/glyphs/health_points.svg
Owners: @csagataj2, @qwrtln, @Heegu-sama

Make sublte labels in all map locations
  metadata.tex
  sections/all_map_locations.tex
Owners: @Heegu-sama, @qwrtln, @DarthGandalf

Nope
  metadata.tex
Owners: @Heegu-sama, @qwrtln, @DarthGandalf

Add subtle frame
  metadata.tex
Owners: @Heegu-sama, @qwrtln, @DarthGandalf

Dedup tikz square
  metadata.tex
Owners: @Heegu-sama, @qwrtln, @DarthGandalf

Make damage blood red
  assets/glyphs/damage.svg
Owners: @csagataj2, @qwrtln, @Heegu-sama

Realign text and icon, make borders the same thickness
  metadata.tex
Owners: @Heegu-sama, @qwrtln, @DarthGandalf

po4a combat
  translations/combat.tex/combat.tex.pot
  translations/combat.tex/cs.po
  translations/combat.tex/de.po
  translations/combat.tex/es.po
  translations/combat.tex/fr.po
  translations/combat.tex/he.po
  translations/combat.tex/pl.po
  translations/combat.tex/ru.po
  translations/combat.tex/ua.po
Owners: @qwrtln, @Heegu-sama, @tomaas-zeman, @DarthGandalf, @csagataj2, @DerSchlupf, @luischos, @Gastonia02, @davidpodless, @candiun, @ohgodnotagain, @SerhiiSUr

Fit?
  translations/combat.tex/cs.po
  translations/combat.tex/de.po
  translations/combat.tex/es.po
  translations/combat.tex/fr.po
  translations/combat.tex/he.po
  translations/combat.tex/ru.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf, @csagataj2, @DerSchlupf, @luischos, @Gastonia02, @davidpodless, @ohgodnotagain

Fixes
  translations/combat.tex/fr.po
  translations/combat.tex/he.po
  translations/index.tex/ru.po
Owners: @Gastonia02, @DarthGandalf, @Heegu-sama, @qwrtln, @davidpodless, @ohgodnotagain

Siege clarification and new combat ending structure (#810)
  assets/art/arrow_tower.jpg
  assets/art/magma_elemental.jpg
  assets/art/storm_elemental.jpg
  assets/glyphs/damage.svg
  assets/glyphs/health_points-note.svg
  sections/combat.tex
  tools/compare_pages.sh
  translations/combat.tex/combat.tex.pot
  translations/combat.tex/cs.po
  translations/combat.tex/de.po
  translations/combat.tex/es.po
  translations/combat.tex/fr.po
  translations/combat.tex/he.po
  translations/combat.tex/pl.po
  translations/combat.tex/ru.po
  translations/combat.tex/ua.po
  translations/index.tex/ru.po
  translations/trading.tex/cs.po
Owners: @csagataj2, @qwrtln, @Heegu-sama, @DarthGandalf, @tomaas-zeman, @DerSchlupf, @luischos, @Gastonia02, @davidpodless, @candiun, @ohgodnotagain, @SerhiiSUr

Remove unused all-yelllow damage symbol
  assets/glyphs/damage-note.svg
Owners: @csagataj2, @qwrtln, @Heegu-sama

Remove unused all-yelllow damage symbol (#822)
  assets/glyphs/damage-note.svg
Owners: @csagataj2, @qwrtln, @Heegu-sama

Redistribute expansion content
  assets/art/astrologers.png
  assets/art/demon.jpg
  assets/art/pit_lord.jpg
  assets/art/pit_lord_cropped.jpg
  metadata.tex
  sections/deckbuilding.tex
  sections/expansion_content.tex
  sections/round_structure.tex
  sections/scenario_end.tex
  sections/units.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama, @DarthGandalf

Add images of expansion towns, add mines, update tower settlement
  assets/map-locations/tower_settlement.png
  assets/map-locations/town-conflux.jpg
  assets/map-locations/town-cove.jpg
  assets/map-locations/town-fortress.jpg
  assets/map-locations/town-inferno.jpg
  assets/map-locations/town-rampart.jpg
  assets/map-locations/town-stronghold.jpg
  assets/map-locations/town-tower.jpg
  metadata.tex
  sections/all_map_locations.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama, @DarthGandalf

Specialties are not spells
  sections/deckbuilding.tex
Owners: @Heegu-sama

po4a
  translations/deckbuilding.tex/cs.po
  translations/deckbuilding.tex/de.po
  translations/deckbuilding.tex/deckbuilding.tex.pot
  translations/deckbuilding.tex/es.po
  translations/deckbuilding.tex/fr.po
  translations/deckbuilding.tex/he.po
  translations/deckbuilding.tex/pl.po
  translations/deckbuilding.tex/ru.po
  translations/deckbuilding.tex/ua.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf, @csagataj2, @DerSchlupf, @luischos, @Gastonia02, @davidpodless, @candiun, @ohgodnotagain, @SerhiiSUr

Split the headings
  sections/all_map_locations.tex
Owners: @Heegu-sama

Make tower great again
  assets/map-locations/town-tower.jpg
  sections/all_map_locations.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

Add missing mine images
  assets/map-locations/crystal-mine.jpg
  assets/map-locations/ore-gold-mine.jpg
Owners: @csagataj2, @qwrtln, @Heegu-sama

Towns <3 Mines
  assets/art/meteor_shower.png
  assets/map-locations/expansion_towns.png
  sections/all_map_locations.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

New layout
  sections/all_map_locations.tex
Owners: @Heegu-sama

Specialties are not spells
  assets/art/helm.png
  assets/cards/specialty2.png
  sections/deckbuilding.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

Put names on separate line
  sections/all_map_locations.tex
Owners: @Heegu-sama

Move random town, update angles for mines
  assets/map-locations/crystal-mine.jpg
  assets/map-locations/ore-gold-mine.jpg
  sections/all_map_locations.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

Rearrange settlements pictures
  assets/map-locations/settlements-1.jpg
  assets/map-locations/settlements-2.jpg
  sections/all_map_locations.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

Clarifications for random town
  metadata.tex
  sections/all_map_locations.tex
Owners: @Heegu-sama, @qwrtln, @DarthGandalf

Replace random town expansion marker with the bar
  metadata.tex
  sections/all_map_locations.tex
Owners: @Heegu-sama, @qwrtln, @DarthGandalf

Make the gap more pretty
  sections/all_map_locations.tex
Owners: @Heegu-sama

move emp stats up
  sections/deckbuilding.tex
Owners: @Heegu-sama

Add page with settlements to list of ?
  sections/all_map_locations.tex
Owners: @Heegu-sama

Split water/land shrines
  sections/all_map_locations.tex
Owners: @Heegu-sama

.github/CODEOWNERS:

# Main files
.aspell.homm3.pws @AFulgens @Heegu-sama
.gitignore @qwrtln @Heegu-sama
.pre-commit-config.yaml @qwrtln @Heegu-sama
/.github/ @qwrtln @Heegu-sama
/assets/ @csagataj2 @qwrtln @Heegu-sama
/sections/ @Heegu-sama
/tools/ @qwrtln @DarthGandalf @Heegu-sama
/translations/ @qwrtln @Heegu-sama
/translations/promp.txt/ @qwrtln @DarthGandalf @Heegu-sama
README.md @qwrtln @Heegu-sama
index_style.ist @qwrtln @DarthGandalf @Heegu-sama
main_*.tex @Heegu-sama @qwrtln
main_en.tex @Heegu-sama
metadata.tex @Heegu-sama @qwrtln @DarthGandalf
structure.tex @Heegu-sama
po4a.cfg @ohgodnotagain @qwrtln @DarthGandalf @Heegu-sama

### Granular settings for translations
#
# Polish
**/pl.po @qwrtln @candiun @Heegu-sama
/translations/assets/pl/ @qwrtln @candiun @Heegu-sama
main_pl.tex @qwrtln @candiun @Heegu-sama
#
# Spanish
**/es.po @luischos @DarthGandalf @Heegu-sama @qwrtln
/translations/assets/es/ @luischos @DarthGandalf @Heegu-sama @qwrtln
main_es.tex @luischos @DarthGandalf @Heegu-sama @qwrtln
#
# French
**/fr.po @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln
/translations/assets/fr/ @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln
main_fr.tex @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln
#
# Russian
**/ru.po @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln
/translations/assets/ru/ @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln
main_ru.tex @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln
#
# Ukrainian
**/ua.po @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama @qwrtln
/translations/assets/ua/ @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama @qwrtln
main_ua.tex  @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama @qwrtln
#
# German
**/de.po @csagataj2 @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
/translations/assets/de/ @csagataj2 @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
main_de.tex  @csagataj2 @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
#
# Czech
**/cs.po @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/cs/ @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
main_cs.tex  @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
#
# Hebrew
**/he.po @davidpodless @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/he/ @davidpodless @Heegu-sama @qwrtln @DarthGandalf
main_he.tex @davidpodless @Heegu-sama @qwrtln @DarthGandalf
