Repository Heegu-sama/Homm3BG, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AFulgens, @qwrtln, @csagataj2, @Heegu-sama, @DarthGandalf, @ohgodnotagain, @evilmint, @luischos, @Gastonia02

.github/CODEOWNERS:

# Main files
.aspell.homm3.pws @AFulgens
.gitignore @qwrtln
.pre-commit-config.yaml @qwrtln
/.github/ @qwrtln
/assets/ @csagataj2 @qwrtln @Heegu-sama
/components_lists/ @qwrtln
/sections/ @Heegu-sama
/translations/ @qwrtln @Heegu-sama
README.md @qwrtln
build.sh @qwrtln @DarthGandalf
clean.sh @qwrtln @DarthGandalf
find_fuzzy.sh @qwrtln @DarthGandalf
index_style.ist @qwrtln @DarthGandalf
main_*.tex @Heegu-sama @qwrtln
main_en.tex @Heegu-sama
make_printable.sh @qwrtln @DarthGandalf
metadata.tex @Heegu-sama
pdf2image.sh @ohgodnotagain @qwrtln @DarthGandalf
po4a.cfg @ohgodnotagain @qwrtln @DarthGandalf

### Granular settings for translations
#
# Polish
**/pl.po @qwrtln @evilmint @Heegu-sama
/translations/assets/pl/ @qwrtln @evilmint @Heegu-sama
main_pl.tex @qwrtln @evilmint @Heegu-sama
#
# Spanish
**/es.po @luischos @qwrtln @Heegu-sama
/translations/assets/es/ @luischos @qwrtln @Heegu-sama
main_es.tex @luischos @qwrtln @Heegu-sama
#
# French
**/fr.po @Gastonia02 @qwrtln @Heegu-sama
/translations/assets/fr/ @Gastonia02 @qwrtln @Heegu-sama
main_fr.tex @Gastonia02 @qwrtln @Heegu-sama
#
# Russian
**/ru.po @ohgodnotagain @qwrtln @Heegu-sama
/translations/assets/ru/ @ohgodnotagain @qwrtln @Heegu-sama
main_ru.tex @ohgodnotagain @qwrtln @Heegu-sama
#...

[FR] updating introduction
  translations/introduction.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

[FR] updating introduction
  translations/introduction.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

[FR] updating difficulty and notes
  translations/difficulty.tex/fr.po
  translations/notes.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

Add Polish graphics
  translations/assets/pl/ability.png
  translations/assets/pl/artifact.png
  translations/assets/pl/hero.png
  translations/assets/pl/spell_example.png
  translations/assets/pl/units.png
  translations/credits.tex/pl.po
Owners: @qwrtln, @evilmint, @Heegu-sama

[FR] Index Update.po
  translations/index.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

[FR] Notes Update.po
  translations/notes.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

Fix those weird horizontal tables in translations (#317)
  sections/back_cover.tex
  sections/difficulty.tex
  sections/trading.tex
  translations/back_cover.tex/back_cover.tex.pot
  translations/back_cover.tex/es.po
  translations/back_cover.tex/fr.po
  translations/back_cover.tex/pl.po
  translations/back_cover.tex/ru.po
  translations/difficulty.tex/difficulty.tex.pot
  translations/difficulty.tex/es.po
  translations/difficulty.tex/fr.po
  translations/difficulty.tex/pl.po
  translations/difficulty.tex/ru.po
  translations/expansion_content.tex/es.po
  translations/introduction.tex/fr.po
  translations/trading.tex/es.po
  translations/trading.tex/fr.po
  translations/trading.tex/pl.po
  translations/trading.tex/ru.po
  translations/trading.tex/trading.tex.pot
Owners: @Heegu-sama, @qwrtln, @luischos, @Gastonia02, @evilmint, @ohgodnotagain

[FR] Restoring medusa size
  translations/scenario_end.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

[FR] Typo in table
  translations/back_cover.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

Update translations/combat.tex/es.po
  translations/combat.tex/es.po
Owners: @luischos, @qwrtln, @Heegu-sama

[FR] trading (#293)
  translations/trading.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

[FR] difficulty (#299)
  translations/difficulty.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

[FR] scenario end (#298)
  translations/scenario_end.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

[FR] Fixing alignement issues on scholar and obelisk
  translations/all_map_locations.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

[RU] resources
  README.md
  translations/resources.tex/ru.po
Owners: @qwrtln, @ohgodnotagain, @Heegu-sama

updates
  translations/resources.tex/ru.po
Owners: @ohgodnotagain, @qwrtln, @Heegu-sama

updates
  translations/resources.tex/ru.po
Owners: @ohgodnotagain, @qwrtln, @Heegu-sama

Add Polish graphics (#318)
  translations/assets/pl/ability.png
  translations/assets/pl/artifact.png
  translations/assets/pl/hero.png
  translations/assets/pl/spell_example.png
  translations/assets/pl/units.png
  translations/credits.tex/pl.po
Owners: @qwrtln, @evilmint, @Heegu-sama

Fix introduction
  translations/difficulty.tex/fr.po
  translations/introduction.tex/pl.po
  translations/trading.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama, @evilmint

Explain map tile name
  assets/images/fields.png
  sections/map_elements.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

[RU] map elements
  translations/map_elements.tex/ru.po
Owners: @ohgodnotagain, @qwrtln, @Heegu-sama

Update trading translation
  translations/trading.tex/pl.po
Owners: @qwrtln, @evilmint, @Heegu-sama

po4a
  translations/introduction.tex/pl.po
  translations/trading.tex/pl.po
Owners: @qwrtln, @evilmint, @Heegu-sama

downsize
  sections/map_elements.tex
Owners: @Heegu-sama

[FR] all map locations (#295)
  translations/all_map_locations.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

Fix Polish game modes
  translations/game_modes.tex/pl.po
Owners: @qwrtln, @evilmint, @Heegu-sama

downside another
  assets/images/fields.png
Owners: @csagataj2, @qwrtln, @Heegu-sama

Translate back cover table
  translations/back_cover.tex/pl.po
  translations/game_modes.tex/pl.po
Owners: @qwrtln, @evilmint, @Heegu-sama

Remove garbage
  translations/back_cover.tex/pl.po
  translations/resources.tex/pl.po
Owners: @qwrtln, @evilmint, @Heegu-sama

split
  sections/map_elements.tex
Owners: @Heegu-sama

po4a
  translations/difficulty.tex/fr.po
  translations/map_elements.tex/es.po
  translations/map_elements.tex/fr.po
  translations/map_elements.tex/map_elements.tex.pot
  translations/map_elements.tex/pl.po
  translations/map_elements.tex/ru.po
  translations/trading.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama, @luischos, @evilmint, @ohgodnotagain

[FR] add the names of the French team Update fr.po
  translations/credits.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

[FR typo ]Update fr.po
  translations/credits.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

[FR] better translation Update fr.po
  translations/introduction.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

[FR] typo Update fr.po
  translations/setup.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

[FR] typo Update fr.po
  translations/setup.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

[FR] translation proofreading Update fr.po
  translations/player_turns.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

[FR] translation proofreading Update fr.po
  translations/deckbuilding.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

[FR] Typo Update fr.po
  translations/deckbuilding.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama

[FR] typo Update fr.po
  translations/map_elements.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama
