Repository Heegu-sama/Homm3BG, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AFulgens, @Heegu-sama, @qwrtln, @csagataj2, @DarthGandalf, @ohgodnotagain, @evilmint, @luischos, @Gastonia02, @SerhiiSUr, @markdermark, @tomaas-zeman, @davidpodless

.github/CODEOWNERS:

# Main files
.aspell.homm3.pws @AFulgens @Heegu-sama
.gitignore @qwrtln @Heegu-sama
.pre-commit-config.yaml @qwrtln @Heegu-sama
/.github/ @qwrtln @Heegu-sama
/assets/ @csagataj2 @qwrtln @Heegu-sama
/sections/ @Heegu-sama
/tools/ @qwrtln @DarthGandalf @Heegu-sama
/translations/ @qwrtln @Heegu-sama
README.md @qwrtln @Heegu-sama
index_style.ist @qwrtln @DarthGandalf @Heegu-sama
main_*.tex @Heegu-sama @qwrtln
main_en.tex @Heegu-sama
metadata.tex @Heegu-sama
po4a.cfg @ohgodnotagain @qwrtln @DarthGandalf @Heegu-sama

### Granular settings for translations
#
# Polish
**/pl.po @qwrtln @evilmint @Heegu-sama
/translations/assets/pl/ @qwrtln @evilmint @Heegu-sama
main_pl.tex @qwrtln @evilmint @Heegu-sama
#
# Spanish
**/es.po @luischos @DarthGandalf @Heegu-sama
/translations/assets/es/ @luischos @DarthGandalf @Heegu-sama
main_es.tex @luischos @DarthGandalf @Heegu-sama
#
# French
**/fr.po @Gastonia02 @DarthGandalf @Heegu-sama
/translations/assets/fr/ @Gastonia02 @DarthGandalf @Heegu-sama
main_fr.tex @Gastonia02 @DarthGandalf @Heegu-sama
#
# Russian
**/ru.po @ohgodnotagain @Heegu-sama @DarthGandalf
/translations/assets/ru/ @ohgodnotagain @Heegu-sama @DarthGandalf
main_ru.tex @ohgodnotagain @Heegu-sama @DarthGandalf
#
# Ukrainian
**/ua.po @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama
/translations/assets/ua/ @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama
main_ua.tex  @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama
#
# German
**/de.po @csagataj2 @Heegu-sama @markdermark @DarthGandalf
/translations/assets/de/ @csagataj2 @Heegu-sama @markdermark @DarthGandalf
main_de.tex  @csagataj2 @Heegu-sama @markdermark @DarthGandalf
#
# Czech
**/cs.po @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/cs/ @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
main_cs.tex  @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
#
# Hebrew
**/he.po @davidpodless @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/he/ @davidpodless @Heegu-sama @qwrtln @DarthGandalf
main_he.tex @davidpodless @Heegu-sama @qwrtln @DarthGandalf

[CZ] Untranslated words and grammatical errors. (#678)
  translations/components.tex/cs.po
  translations/map_elements.tex/cs.po
  translations/round_structure.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

[FR] fixing typo
  translations/combat.tex/fr.po
Owners: @Gastonia02, @DarthGandalf, @Heegu-sama

[FR] too much text
  translations/combat.tex/fr.po
Owners: @Gastonia02, @DarthGandalf, @Heegu-sama

[FR] reducing note text size
  translations/combat.tex/fr.po
Owners: @Gastonia02, @DarthGandalf, @Heegu-sama

Update cs.po
  translations/all_map_locations.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update README.md
  README.md
Owners: @qwrtln, @Heegu-sama

Update metadata.tex
  metadata.tex
Owners: @Heegu-sama

Ru/fix index (#646)
  README.md
  translations/ai_rules.tex/ru.po
  translations/all_map_locations.tex/ru.po
  translations/combat.tex/ru.po
  translations/components.tex/ru.po
  translations/credits.tex/ru.po
  translations/deckbuilding.tex/ru.po
  translations/difficulty.tex/ru.po
  translations/expansion_content.tex/ru.po
  translations/game_modes.tex/ru.po
  translations/heroes.tex/ru.po
  translations/map_elements.tex/ru.po
  translations/other_rules.tex/ru.po
  translations/player_turns.tex/ru.po
  translations/resources.tex/ru.po
  translations/round_structure.tex/ru.po
  translations/scenario_end.tex/ru.po
  translations/setup.tex/ru.po
  translations/town.tex/ru.po
  translations/trading.tex/ru.po
  translations/units.tex/ru.po
Owners: @qwrtln, @Heegu-sama, @ohgodnotagain, @DarthGandalf

Update cs.po
  translations/introduction.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/setup.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

[RU] fixes
  translations/ai_rules.tex/ru.po
  translations/all_map_locations.tex/ru.po
  translations/combat.tex/ru.po
  translations/deckbuilding.tex/ru.po
  translations/difficulty.tex/ru.po
  translations/expansion_content.tex/ru.po
  translations/heroes.tex/ru.po
  translations/map_elements.tex/ru.po
  translations/player_turns.tex/ru.po
  translations/round_structure.tex/ru.po
  translations/scenario_end.tex/ru.po
  translations/setup.tex/ru.po
  translations/town.tex/ru.po
  translations/units.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

ну что за наберите
  translations/ai_rules.tex/ru.po
  translations/difficulty.tex/ru.po
  translations/setup.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

po
  translations/deckbuilding.tex/ru.po
  translations/difficulty.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

Update cs.po
  translations/setup.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

артефакты
  translations/deckbuilding.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

Update cs.po
  translations/game_modes.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/setup.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

[FR] reducing text size
  translations/round_structure.tex/fr.po
Owners: @Gastonia02, @DarthGandalf, @Heegu-sama

updtate
  translations/town.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

Update cs.po
  translations/components.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/map_elements.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/units.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/combat.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/difficulty.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/setup.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/round_structure.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/player_turns.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/expansion_content.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/town.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/units.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/combat.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/units.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/difficulty.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/components.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/all_map_locations.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/all_map_locations.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/all_map_locations.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/trading.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/all_map_locations.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/heroes.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf
