Repository Heegu-sama/Homm3BG, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AFulgens, @Heegu-sama, @qwrtln, @csagataj2, @DarthGandalf, @ohgodnotagain, @candiun, @luischos, @Gastonia02, @SerhiiSUr, @DerSchlupf, @tomaas-zeman, @davidpodless

[Automatic] Add po4a updates
  translations/deckbuilding.tex/de.po
Owners: @csagataj2, @Heegu-sama, @DerSchlupf, @DarthGandalf, @qwrtln

some changes in deckbuilding
  translations/deckbuilding.tex/de.po
Owners: @csagataj2, @Heegu-sama, @DerSchlupf, @DarthGandalf, @qwrtln

More tokens
  assets/images/clone-token-2.png
  assets/images/land-mine-token-0.png
  assets/images/land-mine-token-2.png
  assets/images/quicksand-token-2.png
  assets/images/summon-token-air.png
  assets/images/summon-token-earth.png
  assets/images/summon-token-fire.png
  assets/images/summon-token-water.png
  sections/components.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

Fixes
  translations/map_elements.tex/es.po
  translations/trading.tex/de.po
  translations/trading.tex/fr.po
  translations/trading.tex/pl.po
Owners: @luischos, @DarthGandalf, @Heegu-sama, @qwrtln, @csagataj2, @DerSchlupf, @Gastonia02, @candiun

Setup weblate
  .weblate
  LICENSE
  README.md
Owners: @qwrtln, @Heegu-sama

.github/CODEOWNERS:

# Main files
.aspell.homm3.pws @AFulgens @Heegu-sama
.gitignore @qwrtln @Heegu-sama
.pre-commit-config.yaml @qwrtln @Heegu-sama
/.github/ @qwrtln @Heegu-sama
/assets/ @csagataj2 @qwrtln @Heegu-sama
/sections/ @Heegu-sama
/tools/ @qwrtln @DarthGandalf @Heegu-sama
/translations/ @qwrtln @Heegu-sama
/translations/promp.txt/ @qwrtln @DarthGandalf @Heegu-sama
README.md @qwrtln @Heegu-sama
index_style.ist @qwrtln @DarthGandalf @Heegu-sama
main_*.tex @Heegu-sama @qwrtln
main_en.tex @Heegu-sama
metadata.tex @Heegu-sama @qwrtln @DarthGandalf
structure.tex @Heegu-sama
po4a.cfg @ohgodnotagain @qwrtln @DarthGandalf @Heegu-sama

### Granular settings for translations
#
# Polish
**/pl.po @qwrtln @candiun @Heegu-sama
/translations/assets/pl/ @qwrtln @candiun @Heegu-sama
main_pl.tex @qwrtln @candiun @Heegu-sama
#
# Spanish
**/es.po @luischos @DarthGandalf @Heegu-sama @qwrtln
/translations/assets/es/ @luischos @DarthGandalf @Heegu-sama @qwrtln
main_es.tex @luischos @DarthGandalf @Heegu-sama @qwrtln
#
# French
**/fr.po @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln
/translations/assets/fr/ @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln
main_fr.tex @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln
#
# Russian
**/ru.po @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln
/translations/assets/ru/ @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln
main_ru.tex @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln
#
# Ukrainian
**/ua.po @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama @qwrtln
/translations/assets/ua/ @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama @qwrtln
main_ua.tex  @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama @qwrtln
#
# German
**/de.po @csagataj2 @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
/translations/assets/de/ @csagataj2 @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
main_de.tex  @csagataj2 @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
#
# Czech
**/cs.po @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/cs/ @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
main_cs.tex  @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
#
# Hebrew
**/he.po @davidpodless @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/he/ @davidpodless @Heegu-sama @qwrtln @DarthGandalf
main_he.tex @davidpodless @Heegu-sama @qwrtln @DarthGandalf
