Repository Heegu-sama/Homm3BG, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AFulgens, @Heegu-sama, @qwrtln, @csagataj2, @DarthGandalf, @ohgodnotagain, @candiun, @luischos, @Gastonia02, @SerhiiSUr, @DerSchlupf, @tomaas-zeman, @davidpodless

Add trailing whitespace check
  .github/workflows/check-trailing-whitespace.yaml
  metadata.tex
  sections/deckbuilding.tex
Owners: @qwrtln, @Heegu-sama, @DarthGandalf

Remove trailing whitespace
  assets/fonts/Liberation-license.txt
  metadata.tex
  sections/deckbuilding.tex
  sections/trading.tex
  translations/trading.tex/cs.po
  translations/trading.tex/de.po
  translations/trading.tex/es.po
  translations/trading.tex/fr.po
  translations/trading.tex/he.po
  translations/trading.tex/pl.po
  translations/trading.tex/ru.po
  translations/trading.tex/ua.po
Owners: @csagataj2, @qwrtln, @Heegu-sama, @DarthGandalf, @tomaas-zeman, @DerSchlupf, @luischos, @Gastonia02, @davidpodless, @candiun, @ohgodnotagain, @SerhiiSUr

po4a
  translations/trading.tex/trading.tex.pot
Owners: @qwrtln, @Heegu-sama

couple of changes in layout
  assets/art/storm_elemental.jpg
  sections/combat.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

Add trailing whitespace check (#814)
  .github/workflows/check-trailing-whitespace.yaml
  assets/fonts/Liberation-license.txt
  sections/trading.tex
  translations/trading.tex/cs.po
  translations/trading.tex/de.po
  translations/trading.tex/es.po
  translations/trading.tex/fr.po
  translations/trading.tex/he.po
  translations/trading.tex/pl.po
  translations/trading.tex/ru.po
  translations/trading.tex/trading.tex.pot
  translations/trading.tex/ua.po
Owners: @qwrtln, @Heegu-sama, @csagataj2, @tomaas-zeman, @DarthGandalf, @DerSchlupf, @luischos, @Gastonia02, @davidpodless, @candiun, @ohgodnotagain, @SerhiiSUr

Fix CS and tabs
  sections/combat.tex
  translations/trading.tex/cs.po
Owners: @Heegu-sama, @tomaas-zeman, @qwrtln, @DarthGandalf

Make note glyphs yellow
  assets/glyphs/health_points-note.svg
  sections/combat.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

Fix typos
  translations/combat.tex/pl.po
  translations/units.tex/pl.po
Owners: @qwrtln, @candiun, @Heegu-sama

Fix typos (#815)
  translations/combat.tex/pl.po
  translations/units.tex/pl.po
Owners: @qwrtln, @candiun, @Heegu-sama

Fix typo in AI rules
  sections/ai_rules.tex
  translations/ai_rules.tex/ai_rules.tex.pot
  translations/ai_rules.tex/cs.po
  translations/ai_rules.tex/de.po
  translations/ai_rules.tex/es.po
  translations/ai_rules.tex/fr.po
  translations/ai_rules.tex/he.po
  translations/ai_rules.tex/pl.po
  translations/ai_rules.tex/ru.po
  translations/ai_rules.tex/ua.po
Owners: @Heegu-sama, @qwrtln, @tomaas-zeman, @DarthGandalf, @csagataj2, @DerSchlupf, @luischos, @Gastonia02, @davidpodless, @candiun, @ohgodnotagain, @SerhiiSUr

Fix typo in AI rules (#816)
  sections/ai_rules.tex
  translations/ai_rules.tex/ai_rules.tex.pot
  translations/ai_rules.tex/cs.po
  translations/ai_rules.tex/de.po
  translations/ai_rules.tex/es.po
  translations/ai_rules.tex/fr.po
  translations/ai_rules.tex/he.po
  translations/ai_rules.tex/pl.po
  translations/ai_rules.tex/ru.po
  translations/ai_rules.tex/ua.po
Owners: @Heegu-sama, @qwrtln, @tomaas-zeman, @DarthGandalf, @csagataj2, @DerSchlupf, @luischos, @Gastonia02, @davidpodless, @candiun, @ohgodnotagain, @SerhiiSUr

[FR] Fix typos
  translations/combat.tex/fr.po
  translations/deckbuilding.tex/fr.po
  translations/difficulty.tex/fr.po
  translations/heroes.tex/fr.po
Owners: @Gastonia02, @DarthGandalf, @Heegu-sama, @qwrtln

[UA] Update translations
  tools/fuzzy_diff.sh
  translations/ai_rules.tex/ua.po
  translations/combat.tex/ua.po
  translations/deckbuilding.tex/ua.po
  translations/expansion_content.tex/ua.po
  translations/game_modes.tex/ua.po
  translations/map_elements.tex/ua.po
  translations/player_turns.tex/ua.po
  translations/round_structure.tex/ua.po
  translations/trading.tex/ua.po
  translations/units.tex/ua.po
Owners: @qwrtln, @DarthGandalf, @Heegu-sama, @SerhiiSUr, @csagataj2

po4a
  translations/deckbuilding.tex/ua.po
  translations/expansion_content.tex/ua.po
Owners: @SerhiiSUr, @csagataj2, @DarthGandalf, @Heegu-sama, @qwrtln

Fix printable
  translations/game_modes.tex/ua.po
Owners: @SerhiiSUr, @csagataj2, @DarthGandalf, @Heegu-sama, @qwrtln

Updates in all map locations
  translations/all_map_locations.tex/ua.po
  translations/game_modes.tex/ua.po
Owners: @SerhiiSUr, @csagataj2, @DarthGandalf, @Heegu-sama, @qwrtln

[UA] Update translations (#817)
  tools/fuzzy_diff.sh
  translations/ai_rules.tex/ua.po
  translations/all_map_locations.tex/ua.po
  translations/combat.tex/ua.po
  translations/deckbuilding.tex/ua.po
  translations/expansion_content.tex/ua.po
  translations/game_modes.tex/ua.po
  translations/map_elements.tex/ua.po
  translations/player_turns.tex/ua.po
  translations/round_structure.tex/ua.po
  translations/trading.tex/ua.po
  translations/units.tex/ua.po
Owners: @qwrtln, @DarthGandalf, @Heegu-sama, @SerhiiSUr, @csagataj2

Revert "[Automatic] Add po4a updates"
  translations/combat.tex/combat.tex.pot
  translations/combat.tex/cs.po
  translations/combat.tex/de.po
  translations/combat.tex/es.po
  translations/combat.tex/fr.po
  translations/combat.tex/he.po
  translations/combat.tex/pl.po
  translations/combat.tex/ru.po
  translations/combat.tex/ua.po
Owners: @qwrtln, @Heegu-sama, @tomaas-zeman, @DarthGandalf, @csagataj2, @DerSchlupf, @luischos, @Gastonia02, @davidpodless, @candiun, @ohgodnotagain, @SerhiiSUr

Fix script for single digit filenames
  tools/compare_pages.sh
Owners: @qwrtln, @DarthGandalf, @Heegu-sama

Update layout, art, slight rewording
  assets/art/magma_elemental.jpg
  sections/combat.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

Hyperlink misnaming
  sections/combat.tex
Owners: @Heegu-sama

Reformat siege, add new art
  assets/art/arrow_tower.jpg
  sections/combat.tex
Owners: @csagataj2, @qwrtln, @Heegu-sama

Grammar and formatting fixes
  sections/combat.tex
Owners: @Heegu-sama

Fix combat printable layout
  sections/combat.tex
Owners: @Heegu-sama

Glue number and glyph
  sections/combat.tex
Owners: @Heegu-sama

po4a
  translations/deckbuilding.tex/fr.po
Owners: @Gastonia02, @DarthGandalf, @Heegu-sama, @qwrtln

[FR] Fix typos (#818)
  translations/combat.tex/fr.po
  translations/deckbuilding.tex/fr.po
  translations/difficulty.tex/fr.po
  translations/heroes.tex/fr.po
Owners: @Gastonia02, @DarthGandalf, @Heegu-sama, @qwrtln

Add the word silver near the star
  sections/combat.tex
Owners: @Heegu-sama

fixe #251 and small wording change in arrow tower
  sections/combat.tex
Owners: @Heegu-sama

Caps and grammar
  sections/combat.tex
Owners: @Heegu-sama

Initial draft
  metadata.tex
  sections/expansion_content.tex
  sections/introduction.tex
Owners: @Heegu-sama, @qwrtln, @DarthGandalf

Trying some changes
  metadata.tex
  sections/expansion_content.tex
  sections/introduction.tex
  sections/trading.tex
Owners: @Heegu-sama, @qwrtln, @DarthGandalf

Adjust colors, add naval and battlefield, add to all map l~
  metadata.tex
  sections/all_map_locations.tex
  sections/introduction.tex
Owners: @Heegu-sama, @qwrtln, @DarthGandalf

Update components
  metadata.tex
  sections/components.tex
  sections/introduction.tex
Owners: @Heegu-sama, @qwrtln, @DarthGandalf

Translation support for expansion names
  main_en.tex
  main_ru.tex
  metadata.tex
Owners: @Heegu-sama, @ohgodnotagain, @DarthGandalf, @qwrtln

Fix expansion box around trading war machines
  sections/trading.tex
Owners: @Heegu-sama

Regroup all map locations
  main_pl.tex
  sections/all_map_locations.tex
Owners: @qwrtln, @candiun, @Heegu-sama

Better align glyphs in all map locations
  sections/all_map_locations.tex
Owners: @Heegu-sama

Support for several expansions in one block
  main_en.tex
  metadata.tex
  sections/expansion_content.tex
  sections/trading.tex
Owners: @Heegu-sama, @qwrtln, @DarthGandalf

add missing %
  main_pl.tex
  main_ru.tex
Owners: @qwrtln, @candiun, @Heegu-sama, @ohgodnotagain, @DarthGandalf

.github/CODEOWNERS:

# Main files
.aspell.homm3.pws @AFulgens @Heegu-sama
.gitignore @qwrtln @Heegu-sama
.pre-commit-config.yaml @qwrtln @Heegu-sama
/.github/ @qwrtln @Heegu-sama
/assets/ @csagataj2 @qwrtln @Heegu-sama
/sections/ @Heegu-sama
/tools/ @qwrtln @DarthGandalf @Heegu-sama
/translations/ @qwrtln @Heegu-sama
/translations/promp.txt/ @qwrtln @DarthGandalf @Heegu-sama
README.md @qwrtln @Heegu-sama
index_style.ist @qwrtln @DarthGandalf @Heegu-sama
main_*.tex @Heegu-sama @qwrtln
main_en.tex @Heegu-sama
metadata.tex @Heegu-sama @qwrtln @DarthGandalf
structure.tex @Heegu-sama
po4a.cfg @ohgodnotagain @qwrtln @DarthGandalf @Heegu-sama

### Granular settings for translations
#
# Polish
**/pl.po @qwrtln @candiun @Heegu-sama
/translations/assets/pl/ @qwrtln @candiun @Heegu-sama
main_pl.tex @qwrtln @candiun @Heegu-sama
#
# Spanish
**/es.po @luischos @DarthGandalf @Heegu-sama @qwrtln
/translations/assets/es/ @luischos @DarthGandalf @Heegu-sama @qwrtln
main_es.tex @luischos @DarthGandalf @Heegu-sama @qwrtln
#
# French
**/fr.po @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln
/translations/assets/fr/ @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln
main_fr.tex @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln
#
# Russian
**/ru.po @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln
/translations/assets/ru/ @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln
main_ru.tex @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln
#
# Ukrainian
**/ua.po @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama @qwrtln
/translations/assets/ua/ @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama @qwrtln
main_ua.tex  @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama @qwrtln
#
# German
**/de.po @csagataj2 @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
/translations/assets/de/ @csagataj2 @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
main_de.tex  @csagataj2 @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
#
# Czech
**/cs.po @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/cs/ @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
main_cs.tex  @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
#
# Hebrew
**/he.po @davidpodless @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/he/ @davidpodless @Heegu-sama @qwrtln @DarthGandalf
main_he.tex @davidpodless @Heegu-sama @qwrtln @DarthGandalf
