Repository Heegu-sama/Homm3BG, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AFulgens, @Heegu-sama, @qwrtln, @csagataj2, @DarthGandalf, @ohgodnotagain, @evilmint, @luischos, @Gastonia02, @SerhiiSUr, @markdermark, @tomaas-zeman, @davidpodless

Use roman numerals like on the picture described
  sections/all_map_locations.tex
  sections/heroes.tex
Owners: @Heegu-sama

[RU] small fixes (#684)
  translations/heroes.tex/ru.po
  translations/units.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

[HE] difficulty
  translations/difficulty.tex/he.po
Owners: @davidpodless, @Heegu-sama, @qwrtln, @DarthGandalf

[HE] scenario end
  translations/scenario_end.tex/he.po
Owners: @davidpodless, @Heegu-sama, @qwrtln, @DarthGandalf

fixing po4a
  translations/difficulty.tex/he.po
Owners: @davidpodless, @Heegu-sama, @qwrtln, @DarthGandalf

[HE] scenario end (#687)
  translations/scenario_end.tex/he.po
Owners: @davidpodless, @Heegu-sama, @qwrtln, @DarthGandalf

Added translation for priority and secondary hero
  translations/ai_rules.tex/cs.po
  translations/combat.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

[CZ] Fixed translations to be more consistent (Magic arrow, Redwood, Impossible)
  translations/all_map_locations.tex/cs.po
  translations/back_cover.tex/cs.po
  translations/difficulty.tex/cs.po
  translations/expansion_content.tex/cs.po
  translations/heroes.tex/cs.po
  translations/setup.tex/cs.po
  translations/trading.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

generated po4a files
  components.tex
  game_modes.tex
  heroes.tex
  introduction.tex
  player_turns.tex
  q.tex
  round_structure.tex
  setup.tex
  title_page.tex
  translations/ai_rules.tex/cs.po
  translations/difficulty.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

[CZ] generated po4a files
  components.tex
  game_modes.tex
  heroes.tex
  introduction.tex
  player_turns.tex
  q.tex
  round_structure.tex
  setup.tex
  title_page.tex
  translations/ai_rules.tex/cs.po
  translations/difficulty.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

[CS] Added translations for combat priority; Magic arrow is more consistent (#689)
  components.tex
  game_modes.tex
  heroes.tex
  introduction.tex
  player_turns.tex
  q.tex
  round_structure.tex
  setup.tex
  title_page.tex
  translations/ai_rules.tex/cs.po
  translations/all_map_locations.tex/cs.po
  translations/back_cover.tex/cs.po
  translations/combat.tex/cs.po
  translations/difficulty.tex/cs.po
  translations/expansion_content.tex/cs.po
  translations/heroes.tex/cs.po
  translations/setup.tex/cs.po
  translations/trading.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Remove leftovers
  components.tex
  game_modes.tex
  heroes.tex
  introduction.tex
  player_turns.tex
  q.tex
  round_structure.tex
  setup.tex
  title_page.tex
  tools/pdf2image.sh
Owners: @qwrtln, @DarthGandalf, @Heegu-sama

Checking total number of pages in Spanish version
  translations/combat.tex/es.po
  translations/scenario_end.tex/es.po
Owners: @luischos, @DarthGandalf, @Heegu-sama

Checking total number of pages in Spanish printable version
  translations/combat.tex/es.po
  translations/components.tex/es.po
  translations/deckbuilding.tex/es.po
  translations/difficulty.tex/es.po
  translations/introduction.tex/es.po
Owners: @luischos, @DarthGandalf, @Heegu-sama

Remove leftovers (#690)
  components.tex
  game_modes.tex
  heroes.tex
  introduction.tex
  player_turns.tex
  q.tex
  round_structure.tex
  setup.tex
  title_page.tex
  tools/pdf2image.sh
Owners: @qwrtln, @DarthGandalf, @Heegu-sama

[HE] trading
  translations/trading.tex/he.po
Owners: @davidpodless, @Heegu-sama, @qwrtln, @DarthGandalf

fix table
  translations/difficulty.tex/he.po
Owners: @davidpodless, @Heegu-sama, @qwrtln, @DarthGandalf

[HE] trading (#691)
  translations/trading.tex/he.po
Owners: @davidpodless, @Heegu-sama, @qwrtln, @DarthGandalf

[HE] difficulty (#686)
  translations/difficulty.tex/he.po
Owners: @davidpodless, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/ai_rules.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/all_map_locations.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/back_cover.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/combat.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/difficulty.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/difficulty.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/heroes.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/setup.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/trading.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Revert "Update cs.po"
  translations/trading.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Revert "Update cs.po"
  translations/setup.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Revert "Update cs.po"
  translations/heroes.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Revert "Update cs.po"
  translations/difficulty.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Revert "Update cs.po"
  translations/difficulty.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Revert "Update cs.po"
  translations/combat.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Revert "Update cs.po"
  translations/back_cover.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Revert "Update cs.po"
  translations/all_map_locations.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Revert "Update cs.po"
  translations/ai_rules.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

DE Translation
  sections/combat.tex
  translations/resources.tex/de.po
Owners: @Heegu-sama, @csagataj2, @markdermark, @DarthGandalf

Update sections/combat.tex
  sections/combat.tex
Owners: @Heegu-sama

Spanish corrections (#683)
  translations/ai_rules.tex/es.po
  translations/all_map_locations.tex/es.po
  translations/combat.tex/es.po
  translations/components.tex/es.po
  translations/deckbuilding.tex/es.po
  translations/difficulty.tex/es.po
  translations/expansion_content.tex/es.po
  translations/heroes.tex/es.po
  translations/introduction.tex/es.po
  translations/map_elements.tex/es.po
  translations/player_turns.tex/es.po
  translations/round_structure.tex/es.po
  translations/scenario_end.tex/es.po
  translations/setup.tex/es.po
  translations/town.tex/es.po
  translations/trading.tex/es.po
  translations/units.tex/es.po
Owners: @luischos, @DarthGandalf, @Heegu-sama

.github/CODEOWNERS:

# Main files
.aspell.homm3.pws @AFulgens @Heegu-sama
.gitignore @qwrtln @Heegu-sama
.pre-commit-config.yaml @qwrtln @Heegu-sama
/.github/ @qwrtln @Heegu-sama
/assets/ @csagataj2 @qwrtln @Heegu-sama
/sections/ @Heegu-sama
/tools/ @qwrtln @DarthGandalf @Heegu-sama
/translations/ @qwrtln @Heegu-sama
README.md @qwrtln @Heegu-sama
index_style.ist @qwrtln @DarthGandalf @Heegu-sama
main_*.tex @Heegu-sama @qwrtln
main_en.tex @Heegu-sama
metadata.tex @Heegu-sama
po4a.cfg @ohgodnotagain @qwrtln @DarthGandalf @Heegu-sama

### Granular settings for translations
#
# Polish
**/pl.po @qwrtln @evilmint @Heegu-sama
/translations/assets/pl/ @qwrtln @evilmint @Heegu-sama
main_pl.tex @qwrtln @evilmint @Heegu-sama
#
# Spanish
**/es.po @luischos @DarthGandalf @Heegu-sama
/translations/assets/es/ @luischos @DarthGandalf @Heegu-sama
main_es.tex @luischos @DarthGandalf @Heegu-sama
#
# French
**/fr.po @Gastonia02 @DarthGandalf @Heegu-sama
/translations/assets/fr/ @Gastonia02 @DarthGandalf @Heegu-sama
main_fr.tex @Gastonia02 @DarthGandalf @Heegu-sama
#
# Russian
**/ru.po @ohgodnotagain @Heegu-sama @DarthGandalf
/translations/assets/ru/ @ohgodnotagain @Heegu-sama @DarthGandalf
main_ru.tex @ohgodnotagain @Heegu-sama @DarthGandalf
#
# Ukrainian
**/ua.po @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama
/translations/assets/ua/ @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama
main_ua.tex  @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama
#
# German
**/de.po @csagataj2 @Heegu-sama @markdermark @DarthGandalf
/translations/assets/de/ @csagataj2 @Heegu-sama @markdermark @DarthGandalf
main_de.tex  @csagataj2 @Heegu-sama @markdermark @DarthGandalf
#
# Czech
**/cs.po @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/cs/ @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
main_cs.tex  @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
#
# Hebrew
**/he.po @davidpodless @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/he/ @davidpodless @Heegu-sama @qwrtln @DarthGandalf
main_he.tex @davidpodless @Heegu-sama @qwrtln @DarthGandalf
