Repository Heegu-sama/Homm3BG, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AFulgens, @qwrtln, @csagataj2, @Heegu-sama, @ohgodnotagain, @DarthGandalf, @evilmint, @luischos, @Gastonia02

.github/CODEOWNERS:

# Main files
.aspell.homm3.pws @AFulgens
.gitignore @qwrtln
.pre-commit-config.yaml @qwrtln
/.github/ @qwrtln
/assets/ @csagataj2 @qwrtln
/components_lists/ @qwrtln
/sections/ @Heegu-sama
/translations/ @qwrtln @Heegu-sama
README.md @qwrtln
components_list.tex @qwrtln
index_style.ist @qwrtln
main_en.tex @Heegu-sama
main_*.tex @Heegu-sama @qwrtln
make_printable.sh @qwrtln
build.sh @qwrtln
metadata.tex @Heegu-sama
po4a.cfg @ohgodnotagain @qwrtln @DarthGandalf

### Granular settings for translations
#
# Polish
**/pl.po @qwrtln @evilmint @Heegu-sama
/translations/assets/pl/ @qwrtln @evilmint @Heegu-sama
main_pl.tex @qwrtln @evilmint @Heegu-sama
#
# Spanish
**/es.po @luischos @qwrtln @Heegu-sama
/translations/assets/es/ @luischos @qwrtln @Heegu-sama
main_es.tex @luischos @qwrtln @Heegu-sama
#
# French
**/fr.po @Gastonia02 @qwrtln @Heegu-sama
/translations/assets/fr/ @Gastonia02 @qwrtln @Heegu-sama
main_fr.tex @Gastonia02 @qwrtln @Heegu-sama
# ...

[ES] Notes (#222)
  translations/notes.tex/es.po
Owners: @luischos, @qwrtln, @Heegu-sama

Update translations
  translations/ai_heroes.tex/fr.po
  translations/all_map_locations.tex/all_map_locations.tex.pot
  translations/all_map_locations.tex/es.po
  translations/all_map_locations.tex/fr.po
  translations/all_map_locations.tex/pl.po
  translations/combat.tex/fr.po
  translations/credits.tex/es.po
  translations/credits.tex/fr.po
  translations/deckbuilding.tex/fr.po
  translations/difficulty.tex/fr.po
  translations/expansion_content.tex/fr.po
  translations/game_modes.tex/fr.po
  translations/heroes.tex/es.po
  translations/heroes.tex/fr.po
  translations/heroes.tex/heroes.tex.pot
  translations/heroes.tex/pl.po
  translations/introduction.tex/es.po
  translations/map_elements.tex/fr.po
  translations/notes.tex/fr.po
  translations/other_rules.tex/fr.po
  translations/player_turns.tex/es.po
  translations/player_turns.tex/fr.po
  translations/resources.tex/fr.po
  translations/round_structure.tex/fr.po
  translations/scenario_end.tex/es.po
  translations/scenario_end.tex/fr.po
  translations/setup.tex/es.po
  translations/setup.tex/fr.po
  translations/town.tex/fr.po
  translations/units.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama, @luischos, @evilmint

Scenario end: solo campaign (#211)
  assets/art/medusa.png
  sections/deckbuilding.tex
  sections/game_modes.tex
  sections/scenario_end.tex
  translations/deckbuilding.tex/deckbuilding.tex.pot
  translations/deckbuilding.tex/es.po
  translations/deckbuilding.tex/pl.po
  translations/difficulty.tex/difficulty.tex.pot
  translations/difficulty.tex/es.po
  translations/difficulty.tex/pl.po
  translations/game_modes.tex/es.po
  translations/game_modes.tex/game_modes.tex.pot
  translations/game_modes.tex/pl.po
  translations/scenario_end.tex/es.po
  translations/scenario_end.tex/pl.po
  translations/scenario_end.tex/scenario_end.tex.pot
Owners: @csagataj2, @qwrtln, @Heegu-sama, @luischos, @evilmint

Update
  translations/deckbuilding.tex/fr.po
  translations/game_modes.tex/fr.po
  translations/notes.tex/es.po
  translations/scenario_end.tex/es.po
  translations/scenario_end.tex/fr.po
  translations/scenario_end.tex/pl.po
  translations/scenario_end.tex/scenario_end.tex.pot
Owners: @Gastonia02, @qwrtln, @Heegu-sama, @luischos, @evilmint

po4a
  translations/ai_heroes.tex/fr.po
  translations/all_map_locations.tex/all_map_locations.tex.pot
  translations/all_map_locations.tex/es.po
  translations/all_map_locations.tex/fr.po
  translations/all_map_locations.tex/pl.po
  translations/back_cover.tex/fr.po
  translations/combat.tex/fr.po
  translations/credits.tex/es.po
  translations/credits.tex/fr.po
  translations/deckbuilding.tex/fr.po
  translations/expansion_content.tex/fr.po
  translations/game_modes.tex/fr.po
  translations/heroes.tex/es.po
  translations/heroes.tex/fr.po
  translations/heroes.tex/heroes.tex.pot
  translations/heroes.tex/pl.po
  translations/introduction.tex/es.po
  translations/map_elements.tex/fr.po
  translations/notes.tex/es.po
  translations/other_rules.tex/fr.po
  translations/player_turns.tex/es.po
  translations/player_turns.tex/fr.po
  translations/resources.tex/fr.po
  translations/round_structure.tex/fr.po
  translations/scenario_end.tex/es.po
  translations/scenario_end.tex/fr.po
  translations/scenario_end.tex/pl.po
  translations/scenario_end.tex/scenario_end.tex.pot
  translations/setup.tex/es.po
  translations/setup.tex/fr.po
  translations/town.tex/fr.po
  translations/units.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama, @luischos, @evilmint

Started translating of pl/Heroes
  translations/heroes.tex/pl.po
Owners: @qwrtln, @evilmint, @Heegu-sama

po4a (#224)
  translations/ai_heroes.tex/fr.po
  translations/all_map_locations.tex/all_map_locations.tex.pot
  translations/all_map_locations.tex/es.po
  translations/all_map_locations.tex/fr.po
  translations/all_map_locations.tex/pl.po
  translations/back_cover.tex/fr.po
  translations/combat.tex/fr.po
  translations/credits.tex/es.po
  translations/credits.tex/fr.po
  translations/deckbuilding.tex/fr.po
  translations/expansion_content.tex/fr.po
  translations/game_modes.tex/fr.po
  translations/heroes.tex/es.po
  translations/heroes.tex/fr.po
  translations/heroes.tex/heroes.tex.pot
  translations/heroes.tex/pl.po
  translations/introduction.tex/es.po
  translations/map_elements.tex/fr.po
  translations/notes.tex/es.po
  translations/other_rules.tex/fr.po
  translations/player_turns.tex/es.po
  translations/player_turns.tex/fr.po
  translations/resources.tex/fr.po
  translations/round_structure.tex/fr.po
  translations/scenario_end.tex/es.po
  translations/scenario_end.tex/fr.po
  translations/scenario_end.tex/pl.po
  translations/scenario_end.tex/scenario_end.tex.pot
  translations/setup.tex/es.po
  translations/setup.tex/fr.po
  translations/town.tex/fr.po
  translations/units.tex/fr.po
Owners: @Gastonia02, @qwrtln, @Heegu-sama, @luischos, @evilmint
