Repository Heegu-sama/Homm3BG, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AFulgens, @Heegu-sama, @qwrtln, @csagataj2, @DarthGandalf, @ohgodnotagain, @evilmint, @luischos, @Gastonia02, @SerhiiSUr, @markdermark, @tomaas-zeman, @davidpodless

[HE] ai (#653)
  translations/ai_rules.tex/he.po
Owners: @davidpodless, @Heegu-sama, @qwrtln, @DarthGandalf

[RU] translate Heegu's name
  main_ru.tex
  metadata.tex
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

[RU] Translate new note, fix stars
  translations/units.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

reword
  translations/units.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

casing
  translations/units.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

casing
  translations/units.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

helps to
  sections/combat.tex
  translations/combat.tex/combat.tex.pot
  translations/combat.tex/cs.po
  translations/combat.tex/de.po
  translations/combat.tex/es.po
  translations/combat.tex/fr.po
  translations/combat.tex/he.po
  translations/combat.tex/pl.po
  translations/combat.tex/ru.po
  translations/combat.tex/ua.po
Owners: @Heegu-sama, @qwrtln, @tomaas-zeman, @DarthGandalf, @csagataj2, @markdermark, @luischos, @Gastonia02, @davidpodless, @evilmint, @ohgodnotagain, @SerhiiSUr

Reword and move instant defeat option (#664)
  sections/combat.tex
  translations/combat.tex/combat.tex.pot
  translations/combat.tex/cs.po
  translations/combat.tex/de.po
  translations/combat.tex/es.po
  translations/combat.tex/fr.po
  translations/combat.tex/he.po
  translations/combat.tex/pl.po
  translations/combat.tex/ru.po
  translations/combat.tex/ua.po
Owners: @Heegu-sama, @qwrtln, @tomaas-zeman, @DarthGandalf, @csagataj2, @markdermark, @luischos, @Gastonia02, @davidpodless, @evilmint, @ohgodnotagain, @SerhiiSUr

[RU] translate Heegu's name (#667)
  main_ru.tex
  metadata.tex
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

[PL] Unfuzzy combat
  translations/combat.tex/pl.po
Owners: @qwrtln, @evilmint, @Heegu-sama

Fix unfuzzied layout
  translations/combat.tex/pl.po
Owners: @qwrtln, @evilmint, @Heegu-sama

Update translations/combat.tex/pl.po
  translations/combat.tex/pl.po
Owners: @qwrtln, @evilmint, @Heegu-sama

[PL] Unfuzzy combat (#669)
  translations/combat.tex/pl.po
Owners: @qwrtln, @evilmint, @Heegu-sama

[ES] Unfuzzy combat from PR 664
  translations/combat.tex/es.po
Owners: @luischos, @DarthGandalf, @Heegu-sama

[ES] Unfuzzy combat from PR 664 (#670)
  translations/combat.tex/es.po
Owners: @luischos, @DarthGandalf, @Heegu-sama

Remove -progress flag from compare script
  tools/compare_pages.sh
Owners: @qwrtln, @DarthGandalf, @Heegu-sama

Remove -progress flag from compare script (#672)
  tools/compare_pages.sh
Owners: @qwrtln, @DarthGandalf, @Heegu-sama

updates
  a
  translations/combat.tex/ru.po
  translations/deckbuilding.tex/ru.po
  translations/expansion_content.tex/ru.po
  translations/round_structure.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

final updates
  README.md
  translations/combat.tex/ru.po
  translations/components.tex/ru.po
  translations/deckbuilding.tex/ru.po
  translations/game_modes.tex/ru.po
  translations/heroes.tex/ru.po
  translations/map_elements.tex/ru.po
  translations/player_turns.tex/ru.po
  translations/setup.tex/ru.po
  translations/town.tex/ru.po
  translations/units.tex/ru.po
Owners: @qwrtln, @Heegu-sama, @ohgodnotagain, @DarthGandalf

final updates
  translations/deckbuilding.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

updates
  a
Owners: none

adding translated author
  latexmkrc
  main_ru.tex
  tools/build.sh
  translations/expansion_content.tex/ru.po
  translations/round_structure.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf, @qwrtln

update index + fix fuzzy
  latexmkrc
  main_ru.tex
  metadata.tex
  tools/build.sh
  translations/all_map_locations.tex/ru.po
  translations/combat.tex/ru.po
  translations/deckbuilding.tex/ru.po
  translations/expansion_content.tex/ru.po
  translations/heroes.tex/ru.po
  translations/map_elements.tex/ru.po
  translations/player_turns.tex/ru.po
  translations/resources.tex/ru.po
  translations/town.tex/ru.po
  translations/units.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf, @qwrtln

[RU] Index
  translations/ai_rules.tex/ru.po
  translations/all_map_locations.tex/ru.po
  translations/combat.tex/ru.po
  translations/credits.tex/ru.po
  translations/deckbuilding.tex/ru.po
  translations/difficulty.tex/ru.po
  translations/expansion_content.tex/ru.po
  translations/game_modes.tex/ru.po
  translations/heroes.tex/ru.po
  translations/map_elements.tex/ru.po
  translations/other_rules.tex/ru.po
  translations/player_turns.tex/ru.po
  translations/resources.tex/ru.po
  translations/round_structure.tex/ru.po
  translations/scenario_end.tex/ru.po
  translations/setup.tex/ru.po
  translations/town.tex/ru.po
  translations/trading.tex/ru.po
  translations/units.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

rebasing with SVGs and fixing fuzzy
  translations/ai_rules.tex/ru.po
  translations/all_map_locations.tex/ru.po
  translations/combat.tex/ru.po
  translations/deckbuilding.tex/ru.po
  translations/units.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

Перемещение
  translations/player_turns.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

fix
  translations/combat.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

Various index fixes
  translations/ai_rules.tex/ru.po
  translations/combat.tex/ru.po
  translations/deckbuilding.tex/ru.po
  translations/expansion_content.tex/ru.po
  translations/heroes.tex/ru.po
  translations/player_turns.tex/ru.po
  translations/round_structure.tex/ru.po
  translations/town.tex/ru.po
  translations/units.tex/ru.po
Owners: @ohgodnotagain, @Heegu-sama, @DarthGandalf

final updates
  README.md
  translations/ai_rules.tex/ru.po
  translations/all_map_locations.tex/ru.po
  translations/combat.tex/ru.po
  translations/components.tex/ru.po
  translations/credits.tex/ru.po
  translations/deckbuilding.tex/ru.po
  translations/difficulty.tex/ru.po
  translations/expansion_content.tex/ru.po
  translations/game_modes.tex/ru.po
  translations/heroes.tex/ru.po
  translations/map_elements.tex/ru.po
  translations/player_turns.tex/ru.po
  translations/resources.tex/ru.po
  translations/round_structure.tex/ru.po
  translations/scenario_end.tex/ru.po
  translations/setup.tex/ru.po
  translations/town.tex/ru.po
  translations/units.tex/ru.po
Owners: @qwrtln, @Heegu-sama, @ohgodnotagain, @DarthGandalf

[CS] Unfuzzy
  translations/combat.tex/cs.po
  translations/expansion_content.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

[CS] Unfuzzy (#673)
  translations/combat.tex/cs.po
  translations/expansion_content.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update README.md
  README.md
Owners: @qwrtln, @Heegu-sama

Update README.md (#676)
  README.md
Owners: @qwrtln, @Heegu-sama

Update cs.po
  translations/introduction.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/introduction.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/introduction.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

[CZ] translation fix (#677)
  translations/introduction.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Updates
  translations/components.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/round_structure.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

Update cs.po
  translations/map_elements.tex/cs.po
Owners: @tomaas-zeman, @Heegu-sama, @qwrtln, @DarthGandalf

.github/CODEOWNERS:

# Main files
.aspell.homm3.pws @AFulgens @Heegu-sama
.gitignore @qwrtln @Heegu-sama
.pre-commit-config.yaml @qwrtln @Heegu-sama
/.github/ @qwrtln @Heegu-sama
/assets/ @csagataj2 @qwrtln @Heegu-sama
/sections/ @Heegu-sama
/tools/ @qwrtln @DarthGandalf @Heegu-sama
/translations/ @qwrtln @Heegu-sama
README.md @qwrtln @Heegu-sama
index_style.ist @qwrtln @DarthGandalf @Heegu-sama
main_*.tex @Heegu-sama @qwrtln
main_en.tex @Heegu-sama
metadata.tex @Heegu-sama
po4a.cfg @ohgodnotagain @qwrtln @DarthGandalf @Heegu-sama

### Granular settings for translations
#
# Polish
**/pl.po @qwrtln @evilmint @Heegu-sama
/translations/assets/pl/ @qwrtln @evilmint @Heegu-sama
main_pl.tex @qwrtln @evilmint @Heegu-sama
#
# Spanish
**/es.po @luischos @DarthGandalf @Heegu-sama
/translations/assets/es/ @luischos @DarthGandalf @Heegu-sama
main_es.tex @luischos @DarthGandalf @Heegu-sama
#
# French
**/fr.po @Gastonia02 @DarthGandalf @Heegu-sama
/translations/assets/fr/ @Gastonia02 @DarthGandalf @Heegu-sama
main_fr.tex @Gastonia02 @DarthGandalf @Heegu-sama
#
# Russian
**/ru.po @ohgodnotagain @Heegu-sama @DarthGandalf
/translations/assets/ru/ @ohgodnotagain @Heegu-sama @DarthGandalf
main_ru.tex @ohgodnotagain @Heegu-sama @DarthGandalf
#
# Ukrainian
**/ua.po @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama
/translations/assets/ua/ @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama
main_ua.tex  @SerhiiSUr @csagataj2 @DarthGandalf @Heegu-sama
#
# German
**/de.po @csagataj2 @Heegu-sama @markdermark @DarthGandalf
/translations/assets/de/ @csagataj2 @Heegu-sama @markdermark @DarthGandalf
main_de.tex  @csagataj2 @Heegu-sama @markdermark @DarthGandalf
#
# Czech
**/cs.po @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/cs/ @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
main_cs.tex  @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
#
# Hebrew
**/he.po @davidpodless @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/he/ @davidpodless @Heegu-sama @qwrtln @DarthGandalf
main_he.tex @davidpodless @Heegu-sama @qwrtln @DarthGandalf
